{% extends "TerceraPreEntrega/padre.html" %} {%load static %} 
{% block contenidoIndex %}
  <body>
    <h1>Cafes</h1>
    <ul>
      {%for cafe in cafes%}
      <li>{{cafe.nombre}}</li>
      {%endfor%}
    </ul>

    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Cafes</span>
              <span class="section-heading-lower">Tipos de Cafe que disponemos</span>
            </h2>
            <ul>
              {%for cafe in cafes%}
              <li>{{cafe.nombre}}</li>
              {%endfor%}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
  {% endblock contenidoIndex%}
