{% extends "TerceraPreEntrega/padre.html" %} {%load static %} 
{% block contenidoIndex %}

<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ms-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">Blended to Perfection</span>
            <span class="section-heading-lower">Coffees & Teas</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex me-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper"
              >Delicious Treats, Good Eats</span
            >
            <span class="section-heading-lower">Bakery & Kitchen</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section">
  <div class="container">
    <div class="product-item">
      <div class="product-item-title d-flex">
        <div class="bg-faded p-5 d-flex ms-auto rounded">
          <h2 class="section-heading mb-0">
            <span class="section-heading-upper">From Around the World</span>
            <span class="section-heading-lower">Bulk Speciality Blends</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock contenidoIndex%}
